
html {
	background: url(img/bkg-4.jpg) no-repeat center center fixed;
	background-size: cover;
}


.container-fluid {
	background: url(img/bkg-4.jpg) no-repeat center center fixed;
	background-size: cover;
}

a {
	text-decoration: none;
}

#header {
	position: relative;
	font-family: 'Pacifico', cursive;
	color: #fff;
	text-align: center;
}

#header p {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 18px;
	text-align: center;
}

#sidenav, #header {
	float: left;
}


.nav-pills {
	list-style: none;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 25px;
	background: #db6f6d;
	text-align: center;
	opacity: 0.5;
	width: 100%;
	list-style: none;
	border-radius: 20px;
}

#sidenav li {
	width: 100%;
	list-style: none;
}

#sidenav ul li:hover {
	background: #e8afae;
}

a {
	text-decoration: none;
	color: #fff;
	list-style: none;
}

#footer, #push {
	height: 4em;
}

#footer {
	font-family: 'Pacifico'; cursive;
	font-size: 14px;
	color: #fff;
	text-align: center;
	width: 100%;
	overflow: hidden;
	*position: relative;
	margin-top: 15px;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 20px;
	margin-left: 20px;
	font-family: 'Pacifico';
}

.nav>li>a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #e8afae;

}

#sidenav ul li:hover {
background: #e8afae;
}

#sidenav ul li {
list-style: none;
font-family: 'Pacifico', cursive;
color: #fff;
font-size: 25px;
background: #db6f6d;
border-radius: 20px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
text-align: center;
opacity: 0.8;
}
